.container-form {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 0.6rem;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.3rem;
}

label {
    font-size: 1.4rem;
}

.container-btns {
    display: flex;
    column-gap: 15px;
    justify-content: flex-end;
}

.btn {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.primary {
    background-color: #008259;
    color: white;
}

.secondary {
    background-color: #57bd9e;
    color: white;
}

.header-modal {
    display: flex;
    justify-content: center;
}

.header-modal .title {
    font-size: 2rem;
}