.container-form {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 0.3rem;
}

.input {
    width: 100%;
    padding: 3px 15px;
    margin: 3px 0;
    box-sizing: border-box;
    font-size: 1rem;
}

label {
    font-size: 1.2rem;
}

.container-btns {
    display: flex;
    column-gap: 15px;
    justify-content: flex-end;
}

.btn {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.primary {
    background-color: #008259;
    color: white;
}

.secondary {
    background-color: #57bd9e;
    color: white;
}

.header-modal {
    display: flex;
    justify-content: center;
}

.header-modal .title {
    font-size: 1.7rem;
}

@media only screen and (min-width: 700px) {
    .input {
        padding: 12px 20px;
        margin: 8px 0;
        gap: 0.6rem;
        font-size: 1.3rem;
    }
    .container-form {
        display: flex;
        flex-direction: column;
        padding: 20px 50px;
        gap: 0.6rem;
    }
    label {
        font-size: 1.4rem;
    }

    .header-modal .title {
        font-size: 2rem;
    }
}