.card__header{
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5rem;
}

.btn-icon{
    width: 39px;
    cursor: pointer;
    border: none;
    background-color: #ffff;
}

.red {
    color: #FF6D60;
}

@media only screen and (min-width: 700px) {
    .btn-icon{
        width: 42px;
    }
}